.item-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: white;
    padding: 50px;
    margin: 30px 200px 0 200px;
    border-radius: 30px;
}

.item-details-container img {
    width: 100%;
}

.restock-form {
    width: 300px;
    margin-top: 10px;
}

.restock-form input {
    margin-top: 10px;
    width: 100%;
}

.deliver-inventory-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.deliver-inventory-container button {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 578px) {
    .item-details-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background-color: white;
        padding: 20px;
        margin: 30px 20px 0 20px;
        border-radius: 30px;
    }
}