.my-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.my-items-0 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 578px) {
    .my-items-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }

}