.item-container {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    background-color: white;
    border-radius: 20px;
}

.item-container img {
    width: 100%;
}