.navigations {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.user-img {
    width: 25px;
    border-radius: 100%;
}

.name {
    display: inline-block;
}