.items-container {
    margin: 120px 0 0 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px 80px 0 80px;
}

@media (max-width: 578px) {
    .items {
        margin: 20px 20px 0 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}