.social-login-container {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-login-container button {
    display: block;
}

.login-via {
    height: 40px;
    width: 250px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.login-via:hover {
    color: white;
    background-color: #212529;
}

.login-via img {
    margin: 0 15px 0 15px;
}

@media (max-width: 578px) {
    .social-login-container {
        margin-top: 20px;
        margin-left: 0px;
        width: 90%;
    }
}